<footer class="css-background1">
  <div class="container">
    <p class="copyright">© {{ "" | currentYear() }} Werner Glinka. All Rights Reserved.</p>
    <p><small>Build with Metalsmith</small></p>
  </div>
</footer>